*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    display: block;
}
body{
    font-family: 'manrope';
}
.links a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.audiophile{
    display: flex;
    align-items: center;
    gap: 34px;
}
.container-nav{
    display: flex;
    justify-content: space-between;
    padding: 36px 0 32px;
    width: min(100% - 9vw,1128px);
    margin-inline: auto;    
    
}
.links{
    display: flex;
    gap: 34px;
    
}
.links div a:hover{
    color: #D87D4A;
}
.nav{
    background: #000;
    color: #FFFFFF;
}
.b.g-headphone{
    text-align: center;
    padding: 50px 0 36px;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 1.429px;
    line-height: 44px;
    margin-bottom: 20px;
    
}.section-1{
    padding-top: 120px;
    width: min(100% - 9vw,1128px);
    margin-inline: auto;
}
.row-1{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.bluthoot{
    width: 349.238px;
}
.image-1{
    width: 50%;
    background-color: #F1F1F1;
    border-radius: 8px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-1{
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 300px;
    margin-top: 100px;
    
    
}
.text-1 h6{
    color: #D87D4A;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 10px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.text-1 h2{
    color: #000;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 1.429px;
    margin-bottom: 20px;
}
.text-1 p{
    color: #000;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    opacity: 0.5;
    margin-block:20px;
    width: 80%;
}
.btn-1{
    padding: 12px;
    width: 160px;
    background-color: #D87D4A;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 20px;
}
.btn-1:hover{
    background-color: #FBAF85;
    cursor: pointer;
}
.row-2{
    display: flex;
    justify-content: space-between;
}
.text-2{
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 300px;
    margin-top: 100px;
}
.image-2{
    width: 50%;
    background-color: #F1F1F1;
    border-radius: 8px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-2{
    width: min(100% - 9vw,1128px);
    margin-inline: auto;
    margin-top: 120px;
}
.blutooth-1{
    width: 295.842px;
}
.text-2 h2{
    font-size: 40px;
    text-transform: uppercase;
    width: 50%;
    line-height: 44px;
    letter-spacing: 1.429px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #000;
}
.text-2 p{
    font-size: 15px;
    line-height: 25px;
    opacity: 0.5;
    font-weight: 500;
    width: 80%;
    margin-block: 20px;
}
.blutooth-2{
    width: 372.982px;
}
.row-3{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.image-2{
    width: 50%;
    background-color: #F1F1F1;
}
.text-3{
    width: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 300px;
    margin-top: 130px;
}
.section-3{
    width: min(100% - 9vw,1128px);
    margin-inline: auto;
    margin-top: 120px;
}
.text-3 h2{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.429px;
    margin-bottom: 20px;
    width: 75%;
    line-height: 44px;
    color: #000;
}
.text-3 p{
    font-size: 15px;
    width: 80%;
    margin-block: 20px;
    opacity: 0.5;
    font-weight: 500;
    line-height: 25px;
    color: #000;
}
.accessory{
    height: 140px;
}
.section-4{
    display: flex;
    justify-content: space-between;
    gap: 34px;
    width: min(100% - 9vw,1128px);
    margin-inline: auto;
    margin-top: 120px;
}
.row-4{
    width: 33.33%;
    background-color: #F1F1F1;
    height: 230px;
    border-radius: 9px;
    transform: all linear (0.2s);
}
.row-4:hover{
    cursor: pointer;
    transform: scale(1.05)
}
.image-3{
    margin-bottom: -15px;
    margin-top: -60px;
    max-width: 150px;
    margin-inline: auto;
}
.text-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    
}
.shop{
    display: flex;
    align-items: center;
    gap: 15px;
}
.headphone-text h2{
    font-size: 18px; 
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1.286px;
    margin-bottom: 20px;
}
.shop h6{
    color: #000;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 0.5;
    font-weight: 700;
}
.shop div i{
    color: #D87D4A;
    width: 10px;
    height: 5px;
}

.row-5{
    display: flex;
    justify-content: space-between;
}
.text-5{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.image-4{
    width: 50%;
}
.section-5{
    margin-top: 120px;
    width: min(100% - 9vw,1128px);
    margin-inline: auto;
    margin-block: 120px;
}
.text-5 h2{
    font-size: 40px;
    width: 80%;
    line-height: 44px;
    font-weight: 700;
    color: #000;
    letter-spacing: 1.429px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
span{
    color: #D87D4A;

}
.text-5 p{
    font-size: 15px;
    color: #000;
    font-weight: 700px;
    line-height: 25px;
    opacity: 0.5;
    width: 80%;
}


.footer{
    background-color: #000;
    color: #fff;
}
a{
    color: #fff;
    text-decoration: none;
}
.text-6{
    display: flex;
    justify-content: space-between;
    
}
.sub-home{
    display: flex;
    gap: 34px;
}
.text-6 div h2{
    width: 143px;
    height: 25px;
}
.sub-home div a{
    font-size: 13px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.text-7{
    display: flex;
    justify-content: space-between;
}
.text-7 div p{
    width: 50%;
    font-size: 15px;
    margin-block: 25px;
    font-weight: 500;
    line-height: 25px;
    opacity: 0.5;
}
.social-icon{
    display: flex;
    margin-block: 25px;
    gap: 34px;
    margin-top: auto;
}
.social-icon div:hover{
    color: #D87D4A;
    cursor: pointer;
}

.text-8{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copy{
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    opacity: 0.5;
    width: 50%;
}
.social-icon-tablet{
    display: flex;
    gap: 34px;
    display: none;
}
.social-icon-tablet div:hover{
    color: #d87d4a;
    cursor: pointer;
}
.sub-footer{
    width: min(100% - 9vw,1128px);
    margin-inline: auto;
}
.line{
    border-bottom: 3px solid #d87d4a;
    width: 101px;
    height: 4px;
    margin-bottom: 25px;
}
.menu-bar{
    display: none;
}
.audiophile-mobile{
    display: none;
}
.tablet{
    display: none;
}
.mobile{
    display: none;
}


@media screen and (max-width:800px){
  .menu-bar{
    display: block;
  } 
  .links{
    display: none;
  }
  .row-1{
    flex-direction: column;
  }
  .image-1{
    width: 100%;
  }
  .text-1{
    width: 100%;
    text-align: center;
  }
  .text-1 h2{
    width: 50%;
    margin-inline: auto;
  }
  .btn-1{
    margin-inline: auto;
  }
  .text-1 p{
    width: 70%;
    margin-inline: auto;
  }
  .row-2{
    flex-direction: column-reverse;
  }
  .image-2{
    width: 100%;
  }
  .text-2{
    width: 100%;
    text-align: center;
  }
  .text-2 h2{
    margin-inline: auto;
  }
  .text-2 p{
    margin-inline: auto;
    width: 70%;
  }
  .row-3{
    flex-direction: column;
    gap: 0px;
  }
  .text-3{
    width: 100%;
    text-align: center;
  }
  .text-3 h2{
    width: 60%;
    margin-inline: auto;
  }
  .text-3 p{
    margin-inline: auto;
    width: 70%;
  }
  .headphone-text h2{
    font-size: 15px;
    letter-spacing: 1.071px;
  }
  .row-5{
    flex-direction: column-reverse;

  }
  .image-4{
    width: 100%;
  }
  .tablet{
    display: block;
    width: 100%;
  }
  .desktop{
    display: none;
  }
  .mobile{
    display: none;
  }
  .text-5{
    width: 100%;
    text-align: center;
    margin-block: 50px;
  }
  .text-5 p{
    width: 85%;
    margin-inline: auto;
  }
  .text-5 h2{
    width: 85%;
    margin-inline: auto;
  }
  .text-6{
    flex-direction: column;
  }
  .sub-home{
    margin-top: 20px;
  }
  .text-7 div p{
    width: 100%;
  }
  .social-icon{
    display: none;
  }
  .social-icon-tablet{
    display: inline-flex;

  }
}




@media screen and (max-width:600px){
    .audiophile-mobile{
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .audiophile, .cart-icon{
        display: none;
    }
    .tablet{
        display: none;
    }
    .image-4{
        width: 100%;
    }
    .mobile{
        display: block;
        width: 100%;
    }
    .text-5{
        width: 100%;
        text-align: center;
        margin-block: 20px;
    }
    .text-5 h2{
        width: 90%;
        font-size: 28px;
        letter-spacing: 1px;
        margin-inline: auto;
    }
    .text-5 p{
        width: 100%;
    }
    .section-5{
        margin-block: 50px;
    }
    .section-4{
        flex-direction: column;
    }
    .row-4{
        width: 100%;
        margin-block: 20px;
    }
    .text-3 h2{
        width: 70%;
        font-size: 28px;
        letter-spacing: 1px;
        margin-bottom: 0px;
    }
    .text-3 p{
        width: 100%;
    }
    .text-2 h2{
        font-size: 28px;
        width: 100%;
        margin-bottom: 0px;
    }
    .text-2 p{
        width: 100%;
    }
    .text-1 h2{
        width: 100%;
        font-size: 28px;
        margin-bottom: 0px;
    }
    .text-1 p{
        width: 100%;
    }
    .b.g-headphone{
        font-size: 20px;
    }
    .line{
        margin-inline: auto;
    }
    .sub-home{
        display: block;
        text-align: center;
    }
    .sub-home div{
        padding: 10px;
    }
    .text-6 div h2{
        text-align: center;
        width: 100%;
    }
    .text-7 p{
        text-align: center;
    }
    .text-8{
        flex-direction: column;
    }
    .copy{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .section-1{
        padding-top: 15px;
    }
    .row-1{
        gap: 2px;
    }
    .section-3{
        margin-top: 50px;
    }
    
   
}




