*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
img{
    max-width: 100%;
    display: block;
}
a{
    color: #FFFFFF;
    text-decoration: none;
}
a:hover{
    color: #D87D4A;
}
.sub-container-nav{
    display: flex;
    justify-content: space-between;
    width: min(100% - 9vw,1128px);
    margin-inline: auto;
    
}
.border {
    border-bottom: 2px solid #fff;
    opacity: 0.2;
    width: min(100% - 9vw,1128px);
    margin-inline: auto;
   margin-top: 25px;
}
.line{
    
  
}
.logo{
    display: flex;
    gap: 34px;
    color: #FFFFFF;
}
.logo-nav{
    display: flex;
    gap: 34px;
    font-size: 13px;
    text-transform: uppercase;
}
.container-nav{
    background-color: #000;
    padding: 32px 0 36px;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.logo-icon{
    color: #FFFFFF;
}
.logo div h2{
    font-size: 18px;
}

.background-header{
    background-image: url(image-hero.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    width: 100%;
    color: white;
}


.header-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    
    width: 50%;
}
.new{
    font-size: 14px;
    letter-spacing: 10px;
    opacity: 0.4964;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.main-header{
    width: min(100% - 9vw,1128px);
    margin-inline: auto;
}
.headphone h2{
    font-size: 56px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.experience p{
    font-size: 15px;
    width: 50%;
    line-height: 25px;
    margin-bottom: 30px;
    opacity: 0.75;
}
.product-1{
    padding: 13px;
    background-color: #D87D4A;
    color: #fff;
    border: none;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.product-1:hover{
    background-color: #FBAF85;
    cursor: pointer;
}



.accessory{
    width: 200px;
}

.row-1{
    display: flex;
    flex-direction: column;
    transform: all linear (0.2s);
}
.section-1{
    display: flex;
    justify-content: space-between;
    width: min(100% - 9vw,1128px);
    margin-inline: auto;
    padding-top: 160px;
    
}
.row-1{
    width: 33.33%;
    background-color: #F1F1F1;
    margin: 10px;
    height: 200px;
    border-radius: 8px;
}
.row-1:hover{
    transform: scale(1.05)
}

.middle-row{
    width: 33.33%;
    background-color: #F1F1F1;
    margin: 10px;
    height: 200px;
    border-radius: 8px;
}


.relative{
    margin-inline: auto;
    margin-bottom: -15px;
    margin-top: -60px;
    max-width: -200px;  
}
.text-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.accessory{
    width: 200px;
}
.text-1 div h2{
    font-size: 15px;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    letter-spacing: 1.07px;
    padding-bottom: 10px;
    line-height: 
}
.shop{
    display: flex;
    gap: 20px;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 5px;
    align-items: center;
}
.icon-0{
    color: #D87D4A;
    width: 5px;
}

.row-1:hover{
    cursor: pointer;
}
.section-2{
    background-color: #D87D4A;
    height: 560px;
    width:min(100% - 9vw,1128px);
    margin-inline: auto;
    margin-top: 120px;
    border-radius: 8px;
}

.accessory-2{
    width: 410.234px;
    
}
.row-2{
    display: flex;
    justify-content: space-between;
    width:min(100% - 9vw,1128px);
    margin-inline: auto;
}
.speaker-image{
   padding-top: 65px;
}

.text-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    
}
.speaker-text h2{
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 58px;
}

.upgrade-text{
    color: #fff;
    font-weight: 500;
    line-height: 25px;
    padding-block: 20px;
    opacity: 0.75;
    font-size: 15px;
}
.button-1{
    padding: 10px;
   background-color: #000000;
   color: #fff;
   border: none;
   letter-spacing: 1px;
   text-transform: uppercase;
   font-size: 13px;
   font-weight: 700;
}
.button-1:hover{
    background-color: #4C4C4C;
    cursor: pointer;
}

.section-3{
    background-image: url(image-speaker-zx7.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    width: min(100% - 9vw,1128px);
    margin-inline: auto;
    margin-top: 120px;
    border-radius: 8px;
}
.text-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 430px;
    width: 84%;
    margin-inline: auto;

}

.speaker h2{
    font-size: 28px;
    padding-bottom: 20px;
    color: #000;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.button-2{
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #000;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    color: #000;
}
.button-2:hover{
    background-color: #000;
    cursor: pointer;
    color: #fff;
}

.row-3{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.section-4{
    width: min(100% - 9vw,1128px);
    margin-inline: auto;
    padding-top: 120px;
}
.earpod{
    width: 50%;
   
}
.pod{
    border-radius: 8px;
}
.text-4{
    width: 50%;
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
}
.sub-text-4{
    margin-inline: auto;
    width: 70%;
}

.phone h2{
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 2px;
    padding-bottom: 20px;
}

.button-3{
    padding: 10px;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000;
    border: 1px solid #000;
}
.button-3:hover{
    background-color: #000;
    cursor: pointer;
    color: #fff;
}

.row-4{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.text-5{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.cool-image{
    width: 45%;
    
}
.desktop-cool{
    border-radius: 8px;
}
.mobil{
    display: none;
}

.section-5{
    width: min(100% - 9vw,1128px);
    margin-inline: auto;
    padding-block: 120px;
}
.best h2{
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 44px;
    letter-spacing: 1.429px;
    color: #000;
    padding-bottom: 20px;
}
span{
    color: #D87D4A;
}

.locate p{
    font-size: 15px;
    color: #000;
    font-weight: 500;
    line-height: 25px;
    opacity: 0.5;
}

.audiophile{
    display: flex;
    justify-content: space-between;
    padding: 32px 0 56px;
}
.home-footer{
    display: flex;
    gap: 34px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 25px;
    font-weight: 700;
    font-size: 13px;

}
.home-footer div:hover{
    color: #D87D4A;
    cursor: pointer;
}
.b-g{
    font-size: 25px;
}
.footer{
    background-color: #000;
    color: #fff;
    padding: 32px 0 36px;
    display: flex;
   
   
}
.section-6{
    width: min(100% - 9vw,1128px);
    margin-inline: auto;
}

.column-3{
    display: flex;
    justify-content: space-between;
    padding: 32px 0 56px;
}
.subtitle div{
    width: 50%;
}
.social-icon{
  display: flex;
  gap: 34px;
  font-size: 15px;
  margin-top: auto;
  
}
.social-icon div:hover{
    color:#D87D4A;
    cursor: pointer;
}
.title p{
    font-size: 15px;
    opacity: 0.5;
    font-weight: 500;
    line-height: 25px;
}
.copy p{
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    opacity: 0.5;
}
.footer-line{
    height: 4px;
    width: 101px;
    background-color: #D87D4A;
    margin-top:-32px ;
}
.social-icon-mobil{
    display: none;
}
.audiophile-mobil{
    display: none;
}
.tab-menu{
    display: none;
}



@media screen and (max-width:800px){
    .background-header{
        background-image: url(tablet.jpg);
        height: 900px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .header-container{
        width: 100%;
        align-items: center;
        justify-content: center;
        height: 946px;
    }
    .logo-nav{
        display: none;
    }
    .sub-container-nav{
        width: 100%;
    }
    .experience p{
        margin-inline: auto;
        text-align: center;
    }
    .headphone {
        line-height: 58px;
        letter-spacing: 2px;
        font-weight: 700;
        text-align: center;
    }
    .row-2{
        flex-direction: column;
        
    }
    .text-2{
    width: 40%;
    padding-top: 80px;
    margin-inline: auto;
    text-align: center;
    
    }
    .accessory-2{
        width: 197.212px
    }
    .section-2{
        height: 720px;
    }
    .speaker-image{
        margin-inline: auto;
        margin-bottom: 0;
        max-width: 195px;
    }
    .row-4{
        flex-direction: column-reverse;
    }
    .text-5{
        width: 100%;
        text-align: center;
    }
    .percent{
        display: none;
    }
    .cool-image{
        width:  100%;
    }
    .mobil{
        display: block;
        
    }
    .mobi{
        width: 100%;
    }
    .best h2{
        font-size: 42px;
        color: #000000;
        line-height: 44px;
    }
    .social-icon{
        display: none;
    }
   .copy{
    display: flex;
    justify-content: space-between;
   }
   .social-icon-mobil{
    display: flex;
    gap: 34px;
    font-size: 15px;
    align-items: center;
   }
   .social-icon-mobil div:hover{
    color:#D87D4A;
    cursor: pointer;
   }
   .subtitle div{
    width: 100%;
   }
   .audiophile{
    display: none;
   }
   .audiophile-mobil{
    display: block;
   }
   .home-footer{
    padding: 32px 0 26px;
   }
   .b-g{
    padding: 32px 0 36px;
   }
   .section-3{
    background-image: url(speaker-mobil.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
   }
   .sub-container-nav{
    padding: 15px;
   }
   .tab-menu{
    display: block;
   }
   .section-1{
    padding-top: 50px;
   }
    
}


@media screen and (max-width: 600px){
    .section-1{
        flex-direction: column;
        padding-top: 30px;
    }
    .row-1{
        width: 100%;
        padding: 10px;
    }
    .speaker-text h2{
        font-size: 36px;
    }
    .text-2{
        padding-top: 30px;
    }
    .section-3{
        background-image: url(mobil-speaker.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .row-3{
        flex-direction: column;
    }
    .earpod{
        width: 100%;
    }
    .text-4{
        width: 100%;
        height: 300px;
    }
    .footer-line{
        margin-inline: auto;
    }
    .home-footer{
        display: block;
        padding: 1px;
    
    }
    .home-footer div{
        padding: 10px;
    }
    .audiophile-mobil{
        text-align: center;
    }

    .title p{
        text-align: center;
    }
    .copy{
        flex-direction: column;
       text-align: center;
    }
    .social-icon-mobil{
       justify-content: center;
       width: 100%;
       padding: 20px;
    }
    .row-1{
        margin-block: 35px;
        height: 300px;
    }
    .headphone h2{
        font-size: 36px;
        letter-spacing: 1.286px;
        line-height: 40px;
    }
    .header-container{
        height: 650px;
    }
    .background-header{
        background-image: url(mobil.jpg);
        background-size: contain;
        background-position: center;
        height: 622px;
    }
    .experience p{
        width: 80%;
        font-weight: 500;
    }
    .best h2{
        font-size: 28px;
    }
    .locate p{
        text-align: center;
    }
    .section-2{
        height: 800px;
    }
}