*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
img{
    max-width: 100%;
    display: block;
}
a{
    color: #FFFFFF;
    text-decoration: none;
}
a:hover{
    color: #D87D4A;
}
.sub-container-nav{
    display: flex;
    justify-content: space-between;
    width: min(100% - 9vw,1128px);
    margin-inline: auto;
    
}
.logo{
    display: flex;
    gap: 34px;
    color: #FFFFFF;
}
.logo-nav{
    display: flex;
    gap: 34px;
    font-size: 13px;
    text-transform: uppercase;
}
.container-nav{
    background-color: #000;
    padding: 32px 0 36px;
    border-bottom: 1px solid hsla(0,0%,100%,.2);
    position: fixed;
    width: 100%;
    z-index: 100;

}
.logo-icon{
    color: #FFFFFF;
}
.logo div h2{
    font-size: 18px;
}

.background-header{
    background-image: url(image-hero.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    width: 100%;
    color: white;
}


.header-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 700px;
    width: 50%;
}
.new{
    font-size: 14px;
    letter-spacing: 10px;
    opacity: 0.4964;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.main-header{
    width: min(100% - 9vw,1128px);
    margin-inline: auto;
}
.headphone h2{
    font-size: 56px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.experience p{
    font-size: 15px;
    width: 50%;
    line-height: 25px;
    margin-bottom: 30px;
    opacity: 0.75;
}
.product-1{
    padding: 13px;
    background-color: #D87D4A;
    color: #fff;
    border: none;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.product-1:hover{
    background-color: #FBAF85;
    cursor: pointer;
}



.accessory{
    width: 200px;
}

.row-1{
    display: flex;
    flex-direction: column;
}
.section-1{
    display: flex;
    justify-content: space-between;
    width: min(100% - 9vw,1128px);
    margin-inline: auto;
    padding-top: 160px;
    
}
.row-1{
    width: 33.33%;
    background-color: #F1F1F1;
    margin: 10px;
}

@media screen and (max-width:800px){
    .background-header{
        background-image: url(image-header.jpg);
    }
    .header-container{
        width: 100%;
        align-items: center;
    }
    .logo-nav{
        display: none;
    }
    .sub-container-nav{
        width: 100%;
    }
    .experience p{
        width: 100%;
    }
}



.row-1{
    height: 220px;
    border-radius: 8px;
}
.relative{
    margin-inline: auto;
    margin-bottom: -15px;
    margin-top: -60px;
    max-width: -200px;  
}
.text-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.accessory{
    width: 200px;
}
.text-1 div h2{
    font-size: 15px;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    letter-spacing: 1.07px;
    padding-bottom: 10px;
    line-height: 
}
.shop{
    display: flex;
    gap: 20px;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 5px;
    align-items: center;
}
.icon-0{
    color: #D87D4A;
    width: 5px;
}

.row-1:hover{
    cursor: pointer;
}
.section-2{
    background-color: #D87D4A;
    height: 513px;
    width:min(100% - 9vw,1128px);
    margin-inline: auto;
    margin-top: 120px;
    border-radius: 8px;
}

.accessory-2{
    width: 300px;
}
.row-2{
    display: flex;
    justify-content: space-between;
    width:min(100% - 9vw,1128px);
    margin-inline: auto;
}
.speaker-image{
    padding-top: 150px;
    width: 60%;
}.text-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    
}
.speaker-text h2{
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 58px;
}

.upgrade-text{
    color: #fff;
    font-weight: 500;
    line-height: 25px;
    padding-block: 20px;
    opacity: 0.75;
    font-size: 15px;
}
.button-1{
    padding: 10px;
   background-color: #000000;
   color: #fff;
   border: none;
   letter-spacing: 1px;
   text-transform: uppercase;
   font-size: 13px;
   font-weight: 700;
}
.button-1:hover{
    background-color: #4C4C4C;
    cursor: pointer;
}

.section-3{
    background-image: url(image-speaker-zx7.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
    width: min(100% - 9vw,1128px);
    margin-inline: auto;
    margin-top: 120px;
    border-radius: 8px;
}
.text-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 430px;
    width: 84%;
    margin-inline: auto;

}

.speaker h2{
    font-size: 28px;
    padding-bottom: 20px;
    color: #000;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.button-2{
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #000;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    color: #000;
}
.button-2:hover{
    background-color: #000;
    cursor: pointer;
    color: #fff;
}

.row-3{
    display: flex;
    justify-content: space-between;
}
.section-4{
    width: min(100% - 9vw,1128px);
    margin-inline: auto;
    padding-top: 120px;
}
.earpod{
    width: 50%;
}
.text-4{
    width: 50%;
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sub-text-4{
    margin-inline: auto;
    width: 70%;
}

.phone h2{
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 2px;
    padding-bottom: 20px;
}

.button-3{
    padding: 10px;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000;
    border: 1px solid #000;
}
.button-3:hover{
    background-color: #000;
    cursor: pointer;
    color: #fff;
}